<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- End Fonts -->
    <!-- Latest compiled and minified CSS -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/normalize.css">
    <link rel="stylesheet" href="/linker/styles/jquery.qtip.css">
    <link rel="stylesheet" href="/linker/styles/nav.css">
    <link rel="stylesheet" href="/linker/styles/skeleton.css">
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <!--STYLES END-->
  </head>

  <body>
    <div id="fwrapper">
      <div id="pagecontent">
        <input type="checkbox" name="nav" id="main-nav-check"/>
        <div id="menu"> 	
          <label for="main-nav-check" class="toggle" onclick="" title="Close">&times;</label>
          <ul>
            <li><a href="/blog">News</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="#">Connect </a> <label for="conn" class="toggle-sub" onclick="">&#9658;</label>
              <input type="checkbox" name="nav" id="conn" class="sub-nav-check"/>
              <ul id="conn-sub" class="sub-nav">
                <li class="sub-heading">Connect <label for="conn" class="toggle" onclick="" title="Back">&#9668;</label></li>
                <li><a class="load-trigger" href="/dekelist/show">Digital Deke List</a></li>
                <li><a href="https://www.facebook.com/groups/DKESigmaTau/" target="_blank">Private Facebook Group</a></li>
                <li><a href="https://www.linkedin.com/grp/home?gid=4016499" target="_blank">Official LinkedIn Group</a></li>
                <li><a href="https://www.facebook.com/ASTADKE" target="_blank">Official Facebook Page</a></li>
                <li><a href="https://twitter.com/ASTADKE" target="_blank">Official Twitter</a></li>
              </ul>
            </li>
            <% if(!req.session.User) { %>
            <li><a href="/login">Log In</a></li>
            <% } else { %>
            <li><a href="#">Hi, <%= req.session.User.firstName %></a> <label for="usr" class="toggle-sub" onclick="">&#9658;</label>
              <input type="checkbox" name="nav" id="usr" class="sub-nav-check"/>
              <ul id="usr-sub" class="sub-nav">
                <li class="sub-heading">Hi, <%= req.session.User.firstName %> <label for="usr" class="toggle" onclick="" title="Back">&#9668;</label></li>
                <li><a href="/user/show/<%= req.session.User.id %>">View Profile</a></li>
                <li><a href="/user/edit/<%= req.session.User.id %>">Edit Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
              </ul>
            </li>
            <% } %>
          </ul>
          <label class="toggle close-all" onclick="uncheckboxes('nav')">&times;</label>
        </div><!-- closing "#menu" -->
        <div class="container">

          <div id="header">
            <a class="logo" href="/">ASTADKE</a>

            <label for="main-nav-check" class="toggle" onclick="" title="Menu">&#x2261;</label>
          </div>

          <%- body %>

        </div><!-- closing ".container" -->
      </div><!-- closing #pagecontent -->
    </div><!-- closing #fwrapper -->

    <!-- Below is page footer -->
    <div id="footer">
      <div class="ccontainer">
        <% if (!req.session.User) { %>
        <div class="centered">
          <div>
            <a href="https://github.com/zwrose/deke-list">Site Source</a> | <a href="/login">Login</a>
          </div>
        </div>
        <% } else if(req.session.User && req.session.User.admin) { %>
        <div class="centered">
          <div>
            <a href="/blog/admin">Blog Admin</a> | <a href="https://github.com/zwrose/deke-list">Site Source</a> | <a href="/logout">Logout</a>
          </div>
        </div>
        <% } else { %>
        <div class="centered">
          <div>
            <a href="https://github.com/zwrose/deke-list">Site Source</a> | <a href="/logout">Logout</a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    
    <!-- Below is markup for blockUI loading popup -->
    <div id="loadingMsg" style="display:none;">
      <div class="load-msg">
        <img class="load-crest" src="/images/Crest.png">
        <h6 class="load-text">Please standby while we gather all the needed bits.</h6>
        <img class="load-bar" src="/images/ajax-loader.gif">
      </div>
    </div>
    
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44244611-2', 'astadke.org');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
    
    <!--SCRIPTS-->
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/jquery.qtip.js"></script>
    <script src="/linker/js/blockui.js"></script>
    <script src="/linker/js/custom.js"></script>
    <script src="/linker/js/nav.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
