<div class="container">
	<form action="/user/update/<%= user.id %>" method="POST" id="sign-up-form" class="form-signin">
		<h2 class="form-signin-heading">Update your information</h2>

		<% if(flash && flash.firstLogin) { %>
			<div class="alert alert-info">
				Thanks for registering on ASTADKE Secure! Since this is your first time here, please take a moment to review the information we currently have on file for you below, and add/change as necessary. When you are finished (even if you didn't make any changes), please click the "Update" button to continue!
			</div>
		<% } %>

		<% if(flash && flash.err) { %>
			<% console.log(flash.err) %>
			<div class="alert alert-danger">
				<% Object.keys(flash.err).forEach(function(error) { %>
					<% if(flash.err[error].length > 1) { _.each(flash.err[error], function(subError) {%>
						<div><%- subError.message %> - <%= error %></div>
					<% })} else { %>
						<div><%- flash.err[error][0].message %> - <%= error %></div>
					<% } %>
				<% }) %>
			</div>
		<% } %>
		
		<input type="text" class="form-control" value="<%= user.email %>" name="loginEmail">
		<br />
		<input type="password" class="form-control" placeholder="old password" name="oldPassword">
		<br />
		<input type="password" class="form-control" placeholder="new password" name="newPassword">
		<br />
		<input type="password" class="form-control" placeholder="confirm new password" name="confirmation">
		<br />
		<% if(!insightly){ %>
			<input type="text" class="form-control" value="<%= user.firstName %>" name="firstName">
			<br />
			<input type="text" class="form-control" value="<%= user.lastName %>" name="lastName">
			<br />
			<input type="text" class="form-control" value="<%= user.gradYear %>" name="gradYear">
			<br />
		<% } %>
		<% if(insightly){ %>
			<input type="text" class="form-control" placeholder="Salut." value="<%= insightly.salutation %>" name="salutation">
			<input type="text" class="form-control" placeholder="Full First Name" value="<%= insightly.firstName %>" name="firstName">
			<input type="text" class="form-control" placeholder="Last Name" value="<%= insightly.lastName %>" name="lastName">
			<br />
			<input type="text" class="form-control" placeholder="Preferred First Name" value="<%= user.firstName %>" name="prefFirstName">
			<br />
			<input type="text" class="form-control" placeholder="Graduation Year" value="<%= insightly.gradYear %>" name="gradYear">
			<br />
			<input type="text" class="form-control" placeholder="Street Address" value="<%= insightly.addrStreet %>" name="addrStreet">
			<input type="text" class="form-control" placeholder="City" value="<%= insightly.addrCity %>" name="addrCity">
			<input type="text" class="form-control" placeholder="State" value="<%= insightly.addrState %>" name="addrState">
			<input type="text" class="form-control" placeholder="Zip Code" value="<%= insightly.addrZip %>" name="addrZip">
			<input type="text" class="form-control" placeholder="Country" value="<%= insightly.addrCountry %>" name="addrCountry">
			<br />
			<input type="text" class="form-control" placeholder="Preferred Phone Number" value="<%= insightly.phoneOne %>" name="phoneOne">
			<br />
			<input type="text" class="form-control" placeholder="Other Phone Number 1" value="<%= insightly.phoneTwo %>" name="phoneTwo">
			<br />
			<input type="text" class="form-control" placeholder="Other Phone Number 2" value="<%= insightly.phoneThree %>" name="phoneThree">
			<br />
			<input type="text" class="form-control" placeholder="Preferred Email Address" value="<%= insightly.emailOne %>" name="emailOne">
			<br />
			<input type="text" class="form-control" placeholder="Other Email 1" value="<%= insightly.emailTwo %>" name="emailTwo">
			<br />
			<input type="text" class="form-control" placeholder="Other Email 2" value="<%= insightly.emailThree %>" name="emailThree">
			<br />
		<% } %>
		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Update"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>