<div class="ccontainer">
  <div class="card six columns offset-by-three">
    <h3>Thank you for registering with ASTADKE Online!</h3>
    <h6>We want to make sure we match you to the right record in our database. Please select yourself from the list below by clicking the appropriate button.</h6>

    <% _.each(matches, function(person){ %>

      <div class="row">
        <form action="/user/join/<%= user.id %>" method="POST">
          <input type="hidden" name="insightlyID" value="<%= person.CONTACT_ID %>"/>
          <input type="submit" class="u-full-width" style="font-size:1em;text-transform:none" value="I am <%= person.FIRST_NAME %> <%= person.LAST_NAME %>, Class of <%= person.CUSTOMFIELDS[1].FIELD_VALUE %>"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>

    <% }) %>
    <div class="row">
      <a href="/user/newinsightly/<%= user.id %>" style="font-size:1em;text-transform:none" class="button u-full-width">None of these are me!</a>
      </div>
  </div>
</div>