<div class="container">
	<form action="/user/create" method="POST" id="sign-up-form" class="form-narrow">
		<h2 class="form-narrow-heading">Create Your Account</h2>

		<% if(flash && flash.err) { %>
			<% console.log(flash.err) %>
			<div class="alert alert-danger">
				<% Object.keys(flash.err).forEach(function(error) { %>
					<% if(flash.err[error].length > 1) { _.each(flash.err[error], function(subError) {%>
						<div><%- subError.message %> - <%= error %></div>
					<% })} else { %>
						<div><%- flash.err[error][0].message %> - <%= error %></div>
					<% } %>
				<% }) %>
			</div>
		<% } %>
		
		<input type="text" class="form-control" placeholder="enter your email address" name="email">
		<br />
		<input type="password" class="form-control" placeholder="enter a password" name="password" id="password">
		<br />
		<input type="password" class="form-control" placeholder="confirm your password" name="confirmation">
		<br />
		<input type="text" class="form-control" placeholder="enter your first name" name="firstName">
		<br />
		<input type="text" class="form-control" placeholder="enter your last name" name="lastName">
		<br />
		<input type="text" class="form-control" placeholder="enter your graduation year" name="gradYear">
		<br />
		<input type="password" class="form-control" placeholder="enter the sigma tau passphrase" name="passphrase">
		<a class="passinfo" href="#">what's this?</a>
		<br />
		<br />

		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>