<div class="container">
	<form action="/user/createinsightly/<%= user.id %>" method="POST">
		<h2 class="form-signin-heading">Update your information</h2>

		<div class="alert alert-info">
			Thanks for registering with ASTADKE Online! We actually don't have any information on you to date - since this is your first time here, please take a moment to enter your contact information below. When you are finished, please click the "Update" button to continue!
		</div>
		
		<div>Username:</div>
		<input type="text" class="form-control" value="<%= user.email %>" name="loginEmail">
		<br />

		<div>Salutation, Full First and Last Names:</div>
		<input type="text" class="form-control" placeholder="Salut." name="salutation">
		<input type="text" class="form-control" placeholder="Full First Name" value="<%= user.firstName %>" name="firstName">
		<input type="text" class="form-control" placeholder="Last Name" value="<%= user.lastName %>" name="lastName">
		<br />
		<div>Preferred Name</div>
		<input type="text" class="form-control" placeholder="Preferred First Name" name="prefFirstName">
		<br />
		<div>Grad Year:</div>
		<input type="text" class="form-control" placeholder="Graduation Year" value="<%= user.gradYear %>" name="gradYear">
		<br />
		<div>Street Address, City, State, and Country:</div>
		<input type="text" class="form-control" placeholder="Street Address" name="addrStreet">
		<input type="text" class="form-control" placeholder="City" name="addrCity">
		<input type="text" class="form-control" placeholder="State" name="addrState">
		<input type="text" class="form-control" placeholder="Zip Code" name="addrZip">
		<select class="form-control" name="addrCountry">
			<option value="noChoice" selected="selected">Choose a Country</option>
			<% for(var i=0; i<countries.length; i++){ %>
				<option value="<%= countries[i] %>"><%= countries[i] %></option>
			<% } %>
		</select>
		<br />
		<div>Preferred Phone Number:</div>
		<input type="text" class="form-control" placeholder="Preferred Phone Number" name="phoneOne">
		<br />
		<div>Other Phone Number 1:</div>
		<input type="text" class="form-control" placeholder="Other Phone Number 1" name="phoneTwo">
		<br />
		<div>Other Phone Number 2:</div>
		<input type="text" class="form-control" placeholder="Other Phone Number 2" name="phoneThree">
		<br />
		<div>Preferred Email Address</div>
		<input type="text" class="form-control" placeholder="Preferred Email Address" name="emailOne">
		<br />
		<div>Other Email Address 1:</div>
		<input type="text" class="form-control" placeholder="Other Email 1" name="emailTwo">
		<br />
		<div>Other Email Address 2:</div>
		<input type="text" class="form-control" placeholder="Other Email 2" name="emailThree">
		<br />
		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Update"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>