<div class="container">

	<% if(flash && flash.successMsg) { %>
		<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%- flash.successMsg[0].message %></div>
	<% } %>

	<% if(flash && flash.err) { %>
			<% console.log(flash.err) %>
			<div class="alert alert-danger">
				<% Object.keys(flash.err).forEach(function(error) { %>
					<% if(flash.err[error].length > 1) { _.each(flash.err[error], function(subError) {%>
						<div><%- subError.message %> - <%= error %></div>
					<% })} else { %>
						<div><%- flash.err[error][0].message %> - <%= error %></div>
					<% } %>
				<% }) %>
			</div>
		<% } %>

	<% if(insightly){ %>
		<div>Full name: <%= insightly.salutation %> <%= insightly.firstName %> <%= insightly.lastName %></div>
		<br />
		<div>Preferred first name: <%= user.firstName %></div>
		<br />
		<div>Graduation year: <%= insightly.gradYear %></div>
		<br />
		<div>Address: <%= insightly.addrStreet %>, <%= insightly.addrCity %>, <%= insightly.addrState %> <%= insightly.addrZip %><% if(insightly.addrCountry){ %>, <%= insightly.addrCountry %><% } %></div>
		<br />
		<div>Preferred phone number: <%= insightly.phoneOne %></div>
		<br />
		<div>Other phone number 1: <%= insightly.phoneTwo %></div>
		<br />
		<div>Other phone number 2: <%= insightly.phoneThree %></div>
		<br />
		<div>Preferred email address: <%= insightly.emailOne %></div>
		<br />
		<div>Other email address 1: <%= insightly.emailTwo %></div>
		<br />
		<div>Other email address 2: <%= insightly.emailThree %></div>
		<br />
		<div>Date of last info update: <%= insightly.updated %></div>
		<br />
	<% } else { %>
		<div>Hmm...There seems to be a problem reaching back to our database. If you're seeing this message, please let us know by emailing us at <a href="mailto:astadke@gmail.com">astadke@gmail.com</a>.</div>
		<br />
		<div>First Name: <%= user.firstName %></div>
		<br />
		<div>Last Name: <%= user.lastName %></div>
		<br />
		<div>Email: <%= user.email %></div>
		<br />
		<div>Grad Year: <%= user.gradYear %></div>
		<br />
	<% } %>
	<div><a class="btn btn-primary" href="/user/edit/<%= user.id %>">Edit Info</a></div>
</div>