<div class="container form-wide">

	<h1 class="form-heading list-head">Digital Deke List</h1><br />
	<div class="show-living">By default, list only displays living affiliates. To show all, check here: </div>
	<form class="form-inline show-all-form" action="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>" method="POST" role="form">
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"<% if(req.session.listFilter === "showAll") { %> checked="checked"<% } %> name="showAll" value="1">
	    </label>
	  </div>
	  <button type="submit" class="btn btn-sm btn-show-all-form">Refresh</button>
	  <input type="hidden" name="changeShowFilter" value="1" />
	  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
	<ul class="pagination pull-right list-top-pag">
	  <li class="new-page<% if(!req.param('id')) { %> disabled<% } %>">
	  	<% if(req.param('id')) { %><a <% if(req.param('id') === '2') { %>href="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } else { %>href="/dekelist/show/<%= req.param('id') - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } %>>&laquo;</a><% } else { %><a>&laquo;</a><% } %>
	  </li>
	  <li <% if(!req.param('id')) { %>class="active"<% } %>>
	  	<a href="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">1</a></li>
	  <% if(req.param('id') > 3) { %><li class="disabled"><a>...</a></li><% } %>
	  <li <% if(req.param('id') === '2') { %>class="active"<% } %>>
	  	<% if(!req.param('id') || req.param('id') < 4) { %><a href="/dekelist/show/2<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">2</a><% } else if(req.param('id') > totalPages - 2) { %>
	  	<a href="/dekelist/show/<%= totalPages - 3 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 3 %></a><% } else { %>
	  	<a href="/dekelist/show/<%= req.param('id') - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= req.param('id') - 1 %></a><% } %>
	  </li>
	  <li  <% if(req.param('id') && req.param('id') >= 3 && req.param('id') <= totalPages - 2) { %>class="active"<% } %>>
	  	<% if(!req.param('id') || req.param('id') < 4) { %><a href="/dekelist/show/3<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">3</a><% } else if(req.param('id') > totalPages - 2) { %>
	  	<a href="/dekelist/show/<%= totalPages - 2 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 2 %></a><% } else { %>
	  	<a href="/dekelist/show/<%= req.param('id') %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= req.param('id') %></a><% } %>
	  </li>
	  <li <% if(req.param('id') == totalPages - 1) { %>class="active"<% } %>>
	  	<% if(!req.param('id') || req.param('id') < 4) { %><a href="/dekelist/show/4<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">4</a><% } else if(req.param('id') > totalPages - 2) { %>
	  	<a href="/dekelist/show/<%= totalPages - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 1 %></a><% } else { %>
	  	<a href="/dekelist/show/<%= parseInt(req.param('id'), 10) + 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= parseInt(req.param('id'), 10) + 1 %></a><% } %>
	  </li>
	  <% if(!req.param('id') || req.param('id') < totalPages - 2) { %><li class="disabled"><a>...</a></li><% } %>
	  <li <% if(req.param('id') == totalPages) { %>class="active"<% } %>>
	  	<a href="/dekelist/show/<%= totalPages %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages %></a></li>
	  <li class="new-page<% if(req.param('id') == totalPages) { %> disabled<% } %>">
	  	<% if(!(req.param('id') == totalPages)) { %><a <% if(!req.param('id')) { %>href="/dekelist/show/2<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } else { %>href="/dekelist/show/<%= parseInt(req.param('id'), 10) + 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } %>>&raquo;</a><% } else { %><a>&raquo;</a><% } %></li>
	</ul>
	<table class='table'>
		<tr>
			<th><% if(req.query.sort === 'firstName' && req.query.sortDir === 'asc') { %><a href="<%= req._parsedUrl.pathname %>?sort=firstName&sortDir=desc">First Name</a><% } else { %><a href="<%= req._parsedUrl.pathname %>?sort=firstName&sortDir=asc">First Name</a><% } %></th>
			<th><% if(req.query.sort === 'lastName' && req.query.sortDir === 'asc') { %><a href="<%= req._parsedUrl.pathname %>?sort=lastName&sortDir=desc">Last Name</a><% } else { %><a href="<%= req._parsedUrl.pathname %>?sort=lastName&sortDir=asc">Last Name</a><% } %></th>
			<th><% if(req.query.sort === 'gradYear' && req.query.sortDir === 'asc') { %><a href="<%= req._parsedUrl.pathname %>?sort=gradYear&sortDir=desc">Grad Year</a><% } else { %><a href="<%= req._parsedUrl.pathname %>?sort=gradYear&sortDir=asc">Grad Year</a><% } %></th>
			<th><% if(req.query.sort === 'addrCity' && req.query.sortDir === 'asc') { %><a href="<%= req._parsedUrl.pathname %>?sort=addrCity&sortDir=desc">Current City</a><% } else { %><a href="<%= req._parsedUrl.pathname %>?sort=addrCity&sortDir=asc">Current City</a><% } %></th>
			<th><% if(req.query.sort === 'addrState' && req.query.sortDir === 'asc') { %><a href="<%= req._parsedUrl.pathname %>?sort=addrState&sortDir=desc">Current State</a><% } else { %><a href="<%= req._parsedUrl.pathname %>?sort=addrState&sortDir=asc">Current State</a><% } %></th>
		</tr>


		<% _.each(brothers, function(brother) { %>
		<tr>
			<td><%= brother.FIRST_NAME %></td>
			<td><%= brother.LAST_NAME %></td>
			<td><% if(brother.CUSTOMFIELDS[1]) { %><%= brother.CUSTOMFIELDS[1].FIELD_VALUE %><% } else { %>none listed <% } %></td>
			<td><% if(brother.ADDRESSES[0]) { %><%= brother.ADDRESSES[0].CITY %><% } else { %>none listed <% } %></td>
			<td><% if(brother.ADDRESSES[0]) { %><%= brother.ADDRESSES[0].STATE %><% } else { %>none listed <% } %></td>
		</tr> 

		<% }) %>
	</table>

</div>