<div class="ccontainer">
  <div class="card">
    <h1>Digital Deke List</h1>
    <div style="padding: 4px 0;" class="u-pull-left">By default, this list only displays living affiliates. To show all, keep this box checked:&nbsp;&nbsp;&nbsp;</div>
      <form id="fChangeFilter" style="padding-top:5px;" class="u-pull-left" action="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>" method="POST" role="form">
        <input type="checkbox" class="load-trigger" onchange="$('#fChangeFilter').submit();" <% if(req.session.listFilter === "showAll") { %> checked="checked"<% } %> name="showAll" value="1">
        <input type="hidden" name="changeShowFilter" value="1" />
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
    
    <!-- top pagination -->
    <div class="pagination u-pull-right">
      
      <% if(req.param('id')) { %><a class="load-trigger" <% if(req.param('id') === '2') { %>href="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } else { %>href="/dekelist/show/<%= req.param('id') - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } %>>&laquo;</a><% } else { %><a class="disabled">&laquo;</a><% } %>

      <a class="load-trigger<% if(!req.param('id')) { %> active<% } %>" href="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">1</a>
      
      <% if(req.param('id') > 3) { %><a class="disabled">...</a><% } %>
      
      <% if(!req.param('id') || req.param('id') < 4) { %><a class="load-trigger<% if(req.param('id') === '2') { %> active<% } %>" href="/dekelist/show/2<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">2</a><% } else if(req.param('id') > totalPages - 2) { %>
      <a class="load-trigger<% if(req.param('id') === '2') { %> active<% } %>" href="/dekelist/show/<%= totalPages - 3 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 3 %></a><% } else { %>
      <a class="load-trigger<% if(req.param('id') === '2') { %> active<% } %>" href="/dekelist/show/<%= req.param('id') - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= req.param('id') - 1 %></a><% } %>
      
      <% if(!req.param('id') || req.param('id') < 4) { %><a class="load-trigger<% if(req.param('id') && req.param('id') >= 3 && req.param('id') <= totalPages - 2) { %> active<% } %>" href="/dekelist/show/3<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">3</a><% } else if(req.param('id') > totalPages - 2) { %>
      <a class="load-trigger<% if(req.param('id') && req.param('id') >= 3 && req.param('id') <= totalPages - 2) { %> active<% } %>" href="/dekelist/show/<%= totalPages - 2 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 2 %></a><% } else { %>
      <a class="load-trigger<% if(req.param('id') && req.param('id') >= 3 && req.param('id') <= totalPages - 2) { %> active<% } %>" href="/dekelist/show/<%= req.param('id') %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= req.param('id') %></a><% } %>
      

      <% if(!req.param('id') || req.param('id') < 4) { %><a class="load-trigger<% if(req.param('id') == totalPages - 1) { %> active<% } %>" href="/dekelist/show/4<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">4</a><% } else if(req.param('id') > totalPages - 2) { %>
      <a class="load-trigger<% if(req.param('id') == totalPages - 1) { %> active<% } %>" href="/dekelist/show/<%= totalPages - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 1 %></a><% } else { %>
      <a class="load-trigger<% if(req.param('id') == totalPages - 1) { %> active<% } %>" href="/dekelist/show/<%= parseInt(req.param('id'), 10) + 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= parseInt(req.param('id'), 10) + 1 %></a><% } %>

      <% if(!req.param('id') || req.param('id') < totalPages - 2) { %><a class="disabled">...</a><% } %>
      
      <a class="load-trigger<% if(req.param('id') == totalPages) { %> active<% } %>" href="/dekelist/show/<%= totalPages %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages %></a>
      
      <% if(!(req.param('id') == totalPages)) { %><a class="load-trigger" <% if(!req.param('id')) { %>href="/dekelist/show/2<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } else { %>href="/dekelist/show/<%= parseInt(req.param('id'), 10) + 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } %>>&raquo;</a><% } else { %><a class="disabled">&raquo;</a><% } %>
    </div>
    <!-- end top pagination -->
    <table class='u-full-width'>
      <tr>
        <th class="dekelist-header"><% if(req.query.sort === 'firstName' && req.query.sortDir === 'asc') { %><a class="load-trigger" href="<%= req._parsedUrl.pathname %>?sort=firstName&sortDir=desc">First Name <span class="name-drop">&#9650;</span></a><% } else { %><a class="load-trigger" href="<%= req._parsedUrl.pathname %>?sort=firstName&sortDir=asc">First Name <% if(req.query.sort === 'firstName') { %><span class="name-drop">&#9660;</span><% } %></a><% } %></th>
        <th class="dekelist-header"><% if(req._parsedUrl.query === null || (req.query.sort === 'lastName' && req.query.sortDir === 'asc')) { %><a class="load-trigger" href="<%= req._parsedUrl.pathname %>?sort=lastName&sortDir=desc">Last Name <span class="name-drop">&#9650;</span></a><% } else { %><a class="load-trigger" href="<%= req._parsedUrl.pathname %>?sort=lastName&sortDir=asc">Last Name <% if(req.query.sort === 'lastName') { %><span class="name-drop">&#9660;</span><% } %></a><% } %></th>
        <th class="dekelist-header"><% if(req.query.sort === 'gradYear' && req.query.sortDir === 'asc') { %><a class="load-trigger" href="<%= req._parsedUrl.pathname %>?sort=gradYear&sortDir=desc">Grad Year <span class="name-drop">&#9650;</span></a><% } else { %><a class="load-trigger" href="<%= req._parsedUrl.pathname %>?sort=gradYear&sortDir=asc">Grad Year <% if(req.query.sort === 'gradYear') { %><span class="name-drop">&#9660;</span><% } %></a><% } %></th>
        <th class="dekelist-header">Email</th>
        <th class="dekelist-header">Phone</th>
      </tr>


      <% _.each(brothers, function(brother) { %>
      <tr>
        <td><%= brother.FIRST_NAME %></td>
        <td><%= brother.LAST_NAME %></td>
        <td><% if(brother.CUSTOMFIELDS[1]) { %><%= brother.CUSTOMFIELDS[1].FIELD_VALUE %><% } else { %>none listed <% } %></td>
        <td><%
          var priEmail = brother.CONTACTINFOS.filter(function(obj){
            return obj.LABEL === "PERSONAL" || obj.LABEL === "Personal";
          });

          if(priEmail[0]) { %><%= priEmail[0].DETAIL %><% } else { %>none listed <% } %>
        </td>
        <td><%
          var priPhone = brother.CONTACTINFOS.filter(function(obj){
            return obj.LABEL === "HOME" || obj.LABEL === "Home";
          });

          if(priPhone[0]) { %><%= priPhone[0].DETAIL %><% } else { %>none listed <% } %>
        </td>
      </tr> 

      <% }) %>
    </table>
    <!-- bottom pagination -->
        <div class="pagination">
      
      <% if(req.param('id')) { %><a class="load-trigger" <% if(req.param('id') === '2') { %>href="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } else { %>href="/dekelist/show/<%= req.param('id') - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } %>>&laquo;</a><% } else { %><a class="disabled">&laquo;</a><% } %>

      <a class="load-trigger<% if(!req.param('id')) { %> active<% } %>" href="/dekelist/show<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">1</a>
      
      <% if(req.param('id') > 3) { %><a class="disabled">...</a><% } %>
      
      <% if(!req.param('id') || req.param('id') < 4) { %><a class="load-trigger<% if(req.param('id') === '2') { %> active<% } %>" href="/dekelist/show/2<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">2</a><% } else if(req.param('id') > totalPages - 2) { %>
      <a class="load-trigger<% if(req.param('id') === '2') { %> active<% } %>" href="/dekelist/show/<%= totalPages - 3 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 3 %></a><% } else { %>
      <a class="load-trigger<% if(req.param('id') === '2') { %> active<% } %>" href="/dekelist/show/<%= req.param('id') - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= req.param('id') - 1 %></a><% } %>
      
      <% if(!req.param('id') || req.param('id') < 4) { %><a class="load-trigger<% if(req.param('id') && req.param('id') >= 3 && req.param('id') <= totalPages - 2) { %> active<% } %>" href="/dekelist/show/3<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">3</a><% } else if(req.param('id') > totalPages - 2) { %>
      <a class="load-trigger<% if(req.param('id') && req.param('id') >= 3 && req.param('id') <= totalPages - 2) { %> active<% } %>" href="/dekelist/show/<%= totalPages - 2 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 2 %></a><% } else { %>
      <a class="load-trigger<% if(req.param('id') && req.param('id') >= 3 && req.param('id') <= totalPages - 2) { %> active<% } %>" href="/dekelist/show/<%= req.param('id') %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= req.param('id') %></a><% } %>
      

      <% if(!req.param('id') || req.param('id') < 4) { %><a class="load-trigger<% if(req.param('id') == totalPages - 1) { %> active<% } %>" href="/dekelist/show/4<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>">4</a><% } else if(req.param('id') > totalPages - 2) { %>
      <a class="load-trigger<% if(req.param('id') == totalPages - 1) { %> active<% } %>" href="/dekelist/show/<%= totalPages - 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages - 1 %></a><% } else { %>
      <a class="load-trigger<% if(req.param('id') == totalPages - 1) { %> active<% } %>" href="/dekelist/show/<%= parseInt(req.param('id'), 10) + 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= parseInt(req.param('id'), 10) + 1 %></a><% } %>

      <% if(!req.param('id') || req.param('id') < totalPages - 2) { %><a class="disabled">...</a><% } %>
      
      <a class="load-trigger<% if(req.param('id') == totalPages) { %> active<% } %>" href="/dekelist/show/<%= totalPages %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"><%= totalPages %></a>
      
      <% if(!(req.param('id') == totalPages)) { %><a class="load-trigger" <% if(!req.param('id')) { %>href="/dekelist/show/2<% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } else { %>href="/dekelist/show/<%= parseInt(req.param('id'), 10) + 1 %><% if(req._parsedUrl.search) { %><%= req._parsedUrl.search %><% } %>"<% } %>>&raquo;</a><% } else { %><a class="disabled">&raquo;</a><% } %>
    </div>
    <!-- end bottom pagination -->
  </div>
</div>