<div class="container form-wide index-header-out">
  <div class="jumbotron index-header-in">
    <h1 class="text-center white-shadow">In the (digital) bonds.</h1>
    <h4 class="text-center white-shadow">Welcome to astadke.org, the online home of the Association of Sigma Tau Alumni of Delta Kappa Epsilon.</h4> 
      <h4 class="text-center white-shadow">See what's happening at the house, keep in touch with ASTADKE and other alumni, show your support, and more.</h4>
      <h4 class="text-center white-shadow">Check out the blog below for the latest news, or explore the site from the menu above!</h4>
  </div>
</div>
<div id="articles" class="container form-wide">
  <div class="row">
    <h1 class="blog-header text-center visible-xs">The ASTADKE Blog</h1>
    <div class="col-md-4 hidden-xs">
      <hr />
    </div>
    <div class="col-md-4 hidden-xs">
      <h1 class="blog-header text-center">The ASTADKE Blog</h1>
    </div>
    <div class="col-md-4 hidden-xs">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <% if(flash && flash.err) { %>
        <div class="alert alert-danger">
      <% Object.keys(flash.err).forEach(function(error) { %>
        <div><%- flash.err[error].message %></div>
      <% }) %>
      </div>
      <% } %>
      <% _.each(articles, function(article) { %>
        <% if(article.published){ %>
          <h3 class="article-title"><a href="/blog/show/<%= article.id %>"><%= article.title %></a></h3>
          <h5 class="article-byline">Posted by <%= article.author.firstName %>, on <%= article.pubDate %></h5>
          <hr class="article-break" />
          <div class="article-body"><%- article.articleBody %></div>
          <a class="goto-comments" href="/blog/show/<%= article.id %>#comments">Leave a comment on the article page &rarr;</a>
          <% if(articles.indexOf(article) !== (articles.length - 1)){ %>
            <hr class="article-end" />
          <% } %>
        <% } %>
      <% }) %>
    </div>
    <div class="col-sm-3 sidebar">
      <h3 class="sidebar-header">The latest news and stories from ASTADKE</h3>
      <div class="sidebar-text">
        Have a memorable Sigma Tau Story or piece of Alumni News you wish to share?
      </div>
      <div class="sidebar-text">Don't hesitate to shoot an email to <a href="mailto:astadke@gmail.com" target="_blank">astadke@gmail.com</a> - we're always looking for unique content and perspectives!
      </div>
      <div class="sidebar-text">
        Also, connect with ASTADKE's official social media accounts:
      </div>
      <div class="sidebar-text text-center">
        <a href="https://www.facebook.com/ASTADKE" target="_blank" class="btn btn-social-icon btn-facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/ASTADKE" target="_blank" class="btn btn-social-icon btn-twitter social-center">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="http://www.linkedin.com/groups?home=&gid=4016499&trk=anet_ug_hm&goback=%2Enpv_21469448_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_nav*4responsive*4tab*4profile_*1" target="_blank" class="btn btn-social-icon btn-linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="sidebar-text">
        Then, go swap stories and reconnect with other brothers in the
      </div>
      <div class="sidebar-text text-center">
        <a class="private-fbook-link" href="https://www.facebook.com/groups/DKESigmaTau/" target="_blank">DKE Sigma Tau Private Facebook Group</a>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <hr class="blog-end" />
      <ul class="pager">
        <li class="previous<% if(lastPage) { %> hide<% } %>"><a <% if(!req.param('id') || req.param('id') < 2) { %>href="/blog/index/2"<% } else { %>href="/blog/index/<%= req.param('id') + 1 %>"<% } %>>&larr; Older Articles</a></li>
        <li class="next<% if(!req.param('id') || req.param('id') < 2) { %> hide<% } %>"><a <% if(req.param('id') && req.param('id') <= 2) { %>href="/blog"<% } else { %>href="/blog/index/<%= req.param('id') - 1 %>"<% } %>>Newer Articles &rarr;</a></li>
      </ul>
    </div>
  </div>
</div>