<div class="container form-wide index-header-out">
  <div class="jumbotron index-header-in">
    <h1 class="text-center white-shadow">In the (digital) bonds.</h1>
    <h4 class="text-center white-shadow">Welcome to astadke.org, the online home of the Association of Sigma Tau Alumni of Delta Kappa Epsilon.</h4> 
      <h4 class="text-center white-shadow">See what's happening at the house, keep in touch with ASTADKE and other alumni, show your support, and more.</h4>
      <h4 class="text-center white-shadow">Check out the blog below for the latest news, or explore the site from the menu above!</h4>
  </div>
</div>
<div id="articles" class="container form-wide">
  <div class="row">
    <div class="col-sm-9">
      <% _.each(articles, function(article) { %>
        <% if(article.published){ %>
          <h3 class="article-title"><a href="/blog/show/<%= article.id %>"><%= article.title %></a></h3>
          <h5 class="article-byline">Posted by <%= article.author.firstName %>, on <%= article.pubDate %></h5>
          <hr class="article-break" />
          <div class="article-body"><%- article.articleBody %></div>
          <a class="goto-comments" href="/blog/show/<%= article.id %>">Leave a comment on the article page &rarr;</a>
          <% if(articles.indexOf(article) !== (articles.length - 1)){ %>
            <hr class="article-end" />
          <% } %>
        <% } %>
      <% }) %>
    </div>
    <div class="col-sm-3 sidebar">
      <h3 class="sidebar-header">The latest news and stories from ASTADKE</h3>
      <div class="sidebar-text">
        Have a memorable Sigma Tau Story or piece of Alumni News you wish to share? Shoot an email to <a href="mailto:astadke@gmail.com" target="_blank">astadke@gmail.com</a> - we're always looking to share unique content and perspectives!
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <hr class="blog-end" />
    </div>
  </div>
</div>